
<ul>
  <li>
  <div class="dropdown">
  <button class="dropbtn">Sort by Trainer</button>
    <div class="dropdown-content">
      <a><%= link_to 'ALL', workouts_path, class: "nav-link #{'active' if params[:search].nil?}" %></a>
      <% @trainers.each do |trainer| %>
        <a><%= link_to trainer.first_name, workouts_path(search: trainer.first_name),
            class: "nav-link #{'active' if params[:search] == trainer.first_name}" %></a>
      <% end %>
    </div>
  </div>
  </li>
  </ul>

<% @available_workouts.each do |workout| %>
    <% if workout.user_workouts.empty? %> 
  <div>
    <p><%= user_friendly_range(workout.start_time) %> to <%= readable_time(workout.end_time) %> - <%=link_to( workout.user.first_name, workout_path(workout.id)) %></p>
    <hr />
  </div>
    <% end %>
<% end %>