<div class="container">

    <h1><%= @user.full_name %></h1>
    <h2>Meals left: <%= @user.meals %></h2>
    <h2>Food Account (owing): <%= number_with_precision(@user.food_account, :precision => 2) %> thb</h2>
    

    <% if @user_workouts.length > 0 %>
        <h2>My Booked Workouts</h2>
        <% @user_workouts.each do |user_workout| %>
            <p><%= user_friendly_range(user_workout.workout.start_time) %> to <%= readable_time(user_workout.workout.end_time) %> with <%= user_workout.workout.user.first_name %></p>
        <% end %>
    <% end %>
    
    <% if @user.workouts.length > 0 %>
        <h2>My Available Workouts</h2>
        <% @user.workouts.each do |workout| %>
            <p><%= user_friendly_range(workout.start_time) %> to <%= readable_time(workout.end_time) %> with <%= workout.user.first_name %></p>
        <% end %>
    <% end %>
