<!-- Start Contact section -->
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <div class="mu-contact-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mu-contact-right">
                                    <div class="mu-contact-widget">
                                        <h3>Follow Us</h3>
                                        <address>
                                            <p><%= icon('fab', 'whatsapp-square') %> (+1) 555 5555</p>
                                            <p><%= icon('fas', 'envelope') %> info@info.com</p>
                                            <p>
                                            <%= icon('fab', 'instagram') %>
                                            <%= icon('fab', 'facebook-square') %>
                                            <%= icon('fab', 'youtube') %>
                                            </p>
                                        </address>
                                    </div>
                                    <div class="mu-contact-widget">
                                        <h3>Open Hours</h3>
                                        <address>
                                            <p><span>Monday - Friday</span> 7 am to 8 pm</p>
                                            <p><span>Saturday</span> 7 am to 8 pm</p>
                                            <p><span>Sunday</span> Closed</p>
                                        </address>
                                    </div>
                                    <div class="mu-contact-widget">
                                        <h3>Our Address</h3>
                                        <p>Ko Samui District, Surat Thani 84330, Thailand</p>
                                        <address>
                                            <p><%= icon('fas', 'map-marker-alt') %> Ban Tai Beach, Koh Samui District, Thailand</p>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.132624056539!2d99.96733211483107!3d9.58383468269065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3054f9235ccd0e1b%3A0x7a8fa65e7bab2673!2z4LiK4Liy4Lii4Lir4Liy4LiU4Lia4LmJ4Liy4LiZ4LmD4LiV4LmJ!5e0!3m2!1sen!2sca!4v1583040933321!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact section --
