<div class="grid-item card mt-4">
    <%= image_tag 'https://images.unsplash.com/photo-1560416313-414b33c856a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80', alt: 'welcome-image', class: 'welcome-image' %>
</div>
<h1> <%=icon('fas', 'exclamation-triangle')%> Prepare</h1>
<p>Please read the information below to be prepared and make the most of your time here.</p>
<h4> <%=icon('fas', 'money-bill-wave')%> Program Payment</h4>
<p>By now, you should have paid your initial deposit and signed your waiver before getting access to this app. If you did not pay for your full package upon arrival, please remember that the remainder is due within 48 hours of initial check-in.  This can be paid by cash, paypal, or bank transfer.  Credit card can be processed through paypal. </p>
<h4> <%=icon('fas', 'wifi')%> Wifi</h4>
<p>If you don't have the Wifi Password yet, it's "Fitness123". (same for all Train-In related wifi)</p>
<h4> <%=icon('fas', 'plug')%> Power Outages</h4>
<p>Periodically, our area has scheduled (or sometimes unscheduled) power outages.  If this happens, classes and training sessions will continue as usual, unless otherwise noted. However, wifi and certain cafe services may be temporarily out of order.  Please check with the reception office if you have any questions or concerns.</p>
<h4> <%=icon('fas', 'smoking-ban')%> Smoking</h4>
<p>Please do not smoke near the gym or restaurant.</p>
<h4> <%=icon('fas', 'utensils')%> Cafe Kitchen</h4>
<p>The Cafe is open Monday to Saturday from 7:45am to 8pm.  The kitchen is closed daily between 11am and 12pm during yoga.</p>
<p>Please be polite to the chefs and do not enter the kitchen - use the hatch only.</p>
<p>Depending on your program, you will have a specific number of meals available during your stay.  On this app, you can order your food either by meal item or meal price.  Once your designated number of meals have been used, your account will be charged for any additional items.  Please note, no refunds will be given for unused meal items. The balance of your account must be paid on the last Saturday before you check-out. </p>
<p>Also, please do not leave gym clothes, towels, or equipment on the tables or benches in the restaurant.</p>
<p>Most of our meals can be made vegetarian.  You can also ask the chefs to add chickpeas.  There are no added sugars or syrups to our meals or shakes.  We make our own yogurt, granola, and fruit compot. Our mayonaise is homemade with chickpea water and is vegan. </p>
<h4> <%=icon('fas', 'volume-mute')%> Yoga</h4>
<p>Please be quiet around the facility while yoga classes are in session, normally between 11am-12pm daily.</p>
<h4> <%=icon('fas', 'dumbbell')%> Gym</h4>
<p>Please leave the gym as you would like to find it.  Use a gym towel for workouts and wipe down equipment after use.  Also, please return weights and kettlebells after use.</p>
<h4> <%=icon('fas', 'users')%> Social Atmosphere</h4>
<p>There are people from all walks of life training here, and we are an accepting and welcoming gym. We pride ourselves on being an ego-free environment.  Everyone here has different goals in terms of fitness, but every guest has a common goal of improving their overall health and well-being.  The social side of your time here is also very important, and we encourage you to get to know the other guests as well.  This will mean that you can enjoy other activities on the island with new friends and make great memories.  Please see the Social Event page on this App for the events associated with our facility such as hikes and Muay Thai fights.  In addition, we also have a WhatsApp group that allows customers to communicate and organise trips.  </p>
<h4> <%=icon('fas', 'shower')%> Hygiene</h4>
<p>Thailand's humid climate in combination with hard workouts and sweaty bodies are a breeding ground for germs.  We do our best to clean and maintain our facilities as often as possible.  However, we ask that you also do your part in reducing the spread of germs.  Please use antibacterial shower gel and soap, and shower as often as possible (preferably after each workout session).</p>
<h4> <%=icon('fab', 'envira')%> Environmental Footprint and Water</h4>
<p>We are trying to reduce our plastic consumption and therefore we do not sell bottled water.  We provide free drinking water for customers with refillable bottles.  This can be found in the restaurant area and in the back area of the gym.  We also have refillable bottles for sale in case you forgot yours. </p>
<h4> <%=icon('fas', 'shoe-prints')%> Shoes</h4>
<p>No shoes allowed on the gym matts</p>
<h4> <%=icon('fas', 'spa')%> Massages</h4>
<p>Upon arrival, you should have received your massage card.  The card explains how many massages you are entitled to during your stay.  It is important that you keep this card safe as we cannot replace it if lost.  The value of each massage is 300thb which entitles you to a Thai, Oil, or Foot massage.  You can add on to this amount at the massage shop if you want a more expensive option.  We recommend not having a massage between training sessions.</p>