<%= form_with(model: @class_schedule, local: true) do |form|%>
    <div>
        <% if @class_schedule.errors.present?%>
        <%= @class_schedule.errors.full_messages.join(', ')%>
        <% end %>
    </div>
    <div>
        <%= form.label :title%><br>
        <%= form.text_field :title %>
    </div>
    <div class="mb-6">
        <%= form.label "Day of the Week", class: "label" %>
        <div class="flex items-center justify-between max-w-md">
        <%= form.select :day_of_week, { Monday: "Monday", Tuesday: "Tuesday", Wednesday: "Wednesday", Thursday: "Thursday", Friday: "Friday", Saturday: "Saturday", Sunday: "Sunday" }, { class: "select py-2 px-2 mr-2" } %>
        </div>
    </div>
    <div class="mb-6">
        <%= form.label :start_time, class: "label" %>
        <div class="flex items-center justify-between max-w-md">
        <%= form.time_select :start_time, { minute_step: 15 }, { class: "select py-2 px-2 mr-2" } %>
        </div>
    </div>

    <div class="field">
        <%= form.label :end_time, class: "label" %>
        <div class="flex items-center justify-between max-w-md">
        <%= form.time_select :end_time, { minute_step: 15 }, { class: "select py-2 px-2 mr-2" } %>
        </div>
    </div>

    <%= form.submit %>

<% end %>

