<!-- Control row -->
<div class="text-center">
  <%= form_tag nil, method: 'get' do %>
    <% if !params[:section].nil? %>
      <%= hidden_field_tag :section, params[:section] %>
    <% end %>
      <%= select_tag :sort, options_for_select([['Name', 'name'], ["Price", 'price']]) %>
      <%= select_tag :dir, options_for_select([['Asc', 'asc'], ["Desc", 'desc']]) %>
      
      <%= submit_tag "Sort", :name => nil %>
      
  <% end %>
</div>
<!-- End control row -->