<p id="notice"><%= notice %></p>

<h1>Trainers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <div>
        <% if trainer.image_url != "" %>
          <%= image_tag trainer.image_url, alt: 'trainer-image', class: 'trainer' %>
        <% end %>
        <h2><%= trainer.name %></h2>
        <p><%= trainer.description %></p>
        <% if can? :crud, trainer %>
            <%= link_to 'Edit', edit_trainer_path(trainer) %>
            <%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' } %>  
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :crud, @trainers %>
  <%= link_to 'New Trainer', new_trainer_path %>
<% end %>
