<p id="notice"><%= notice %></p>

<h1><%= icon('fas', 'hiking') %> Social Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_events.each do |social_event| %>
      <div>
        <% if social_event.image_url != "" %>
          <%= image_tag social_event.image_url, alt: 'trainer-image', class: 'trainer' %>
        <% end %>
        <h2><%= social_event.title %></h2>
        <p>What? <%= social_event.description %></p>
        <p>When? <%= social_event.when %></p>
          <% if can? :crud, social_event %>
            <%= link_to 'Edit', edit_social_event_path(social_event) %>
            <%= link_to 'Destroy', social_event, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :crud, @social_events %>
  <%= link_to 'New Social Event', new_social_event_path %>
<% end %>
