<!DOCTYPE html>
<html>
  <head>
    <title>Fit-In</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>
   

<nav role="navigation" class="hamburger-menu">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="#"><li>Home</li></a>
      <a href="#"><li>About</li></a>
      <a href="#"><li>Info</li></a>
      <a href="#"><li>Contact</li></a>
      <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
    </ul>
  </div>
</nav>






<h1>Fixing stuff above</h1>




 <div class="container">


      <nav>
        <div>
          <h1> <%= link_to icon('fas', 'dumbbell'), root_path, { class: "navbar-link"} %> Fit-In </h1>
        </div>
        <% if user_signed_in? %>
          Hello <%= current_user.full_name %>
          <%= icon('fas', 'sign-out-alt') %><%= link_to "Sign Out", session_path, method: :delete,
          data: {confirm: "Are you sure you want to sign out?"} %>
          |
          <%= icon('fas', 'user') %><%= link_to 'My Profile', "/users/user.id" %>
          |
          <%= icon('fas', 'shopping-cart') %><%= link_to 'My Orders', user_meals_path %>
          <% if current_user.is_admin? %>
            |
            <%= icon('far', 'calendar-plus') %><%= link_to 'New Class', new_class_schedule_path %>
            |
            <%= icon('fas', 'utensils') %><%= link_to 'New Food Item', new_food_item_path %>
            |
            <%= icon('fas', 'receipt') %><%= link_to 'All Orders', user_meals_path %>
            |
            <%= icon('fas', 'user-plus') %><%= link_to "Sign Up", new_user_path %>
          <% end %>
        <% else %>
          <%= icon('fas', 'sign-in-alt') %><%= link_to "Sign In", new_session_path %>
        <% end %>
        <hr>
        <%# <a href="/">Home</a> %>
        <%= link_to 'Classes', root_path %>
        |
        <%= icon('fas', 'exclamation-triangle') %><%= link_to 'Prepare', prepare_path %>
        |
        <%= icon('fab', 'whatsapp-square') %><%= link_to 'Contact Us', contact_us_path %>
        |
        <%= link_to 'Our Trainers', trainers_path %>
        <% if user_signed_in? %>
          |
          <%= icon('fas', 'hiking') %><%= link_to 'Social Events', social_events_path %>
          |
          <%= icon('fas', 'dumbbell') %><%= link_to 'Workouts Booked', user_workouts_path %>
          |
          <%= icon('fas', 'calendar-alt') %><%= link_to 'Available Workouts', workouts_path %>
          |
          <%= icon('fas', 'utensils') %><%= link_to 'Food', food_items_path %>
          <% if current_user.role == "trainer" %>
            |
            <%= icon('far', 'calendar-plus') %><%= link_to 'New Training session', new_workout_path %>
          <% end %>
        <% end %>
      </nav>
      <p>
      <%#= flash[:notice] || flash[:alert]%>
      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
      </p>
      <%= yield %>
    </div>
  </body>
</html>
